@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #52734d;
    width: 100vw;
    overflow-x: hidden;
}
h1{
    margin: 0;
    padding: 20px;
}
.card{
    position: relative;
    display: flex;
    background-color: #ddffbc;
    width: 35vw;
    height: 300px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    transform: translateX(400%);
    transition: all .5s ease;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}
.card h1{
    align-self: center;
}

.card:nth-of-type(even){
    transform: translateX(-400%);
}

.on{
    transform: translateX(0);
}
.on:nth-of-type(even){
    transform: translateX(0);
}